<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome to Fritter!</title>

  <!-- Jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  
  <!-- Bootstrap -->
  <script src="../js/bootstrap.min.js"></script>
  <link href="../css/bootstrap.min.css" rel="stylesheet">

	
  <!-- StyleSheet -->
  <link href="../css/custom.css" rel="stylesheet">

  <!-- Custom JS -->
  <script src="../js/custom.js"></script>

  <!-- Handlebars JS -->
  <script src="../js/handlebars.js"></script>
  <script src="../js/handlebars.runtime.js"></script>

  <!-- Lato Font -->
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body>
	<div class="row">
			<div class="col-lg-12" id="contentBuffer"></div>
	</div>
	{{{body}}}
</body>