<div class="container" id="signinContainer">
   <form method="post" action="/users/signin" class="form-signin">

   {{#if errors}}
        {{#each errors}}
          <div class="alert alert-warning">{{this.msg}}</div>
        {{/each}}
    {{/if}}

    <h2 class="form-signin-heading">Sign In!</h2>
    <div class="form-group">
        <label for="inputUsername" class="sr-only">Username</label>
        <input name="username" type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
    </div>
    <div class="form-group">
        <label for="inputPassword" class="sr-only">Password</label>
        <input name="password" type="text" id="inputPassword" class="form-control" placeholder="Password" required autofocus>
    </div>
    <button class="btn btn-lg btn-primary btn-block" id="signinButton" type="submit">Sign in</button>
  </form>
  <a id="registerLink" href="/users/registration">Don't have an account? Register here</a>
</div> <!-- /container -->
<div class="navbar navbar-default navbar-fixed-top row">
  <div class="container-fluid" id="nav1">
  <div class="container-fluid" id="subnav">
    <ul class="nav navbar-nav navbar-right" id"navbar-list">
      <li id="nav-button"><a href="/">HOME</a></li>
      <li id="nav-button"><a href="/users/signin">SIGN IN</a></li>
    </ul>
  </div>
  </div>
</div>